<h1>Edit this Sub!</h1>

<form class="" action="<%=sub_url(@sub)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="_method"value="patch">
  <label>Title:<input type="text" name="sub[title]" value="<%=@sub.title%>"> </label>
  <label>Description: 
    <textarea name="sub[description]" rows="8" cols="80"><%=@sub.description%></textarea>
  </label>
  <input type="submit" value="Edit Sub">
</form>

<p><a href="<%=sub_url(@sub)%>"> Back </a></p>
